<section class="callback section">
  <div class="container">
    <h2 class="visually-hidden">Callback hide</h2>
    <div class="callback__img">
      <picture>
        <source
          srcset="
            ./images/callback-desk.jpg    1x,
            ./images/callback-desk@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 1360px)"
          width="680"
          height="460"
        />

        <source
          srcset="
            ./images/callback-tablet.jpg    1x,
            ./images/callback-tablet@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 768px)"
          width="384"
          height="349"
        />

        <source
          srcset="./images/callback-mob.jpg 1x, ./images/callback-mob@2x.jpg 2x"
          type="image/jpg"
          media="(min-width: 320px)"
          width="320"
          height="220"
        />

        <img
          src="./images/callback-mob.jpg"
          alt="men with coffee"
          width="320"
          height="220"
        />
      </picture>
    </div>

    <div class="callback__container">

      
       
      <h2 class="callback__title">Kontakte</h2>
      <ul class="callback__list list flex ">
        <li class="footer__item suptitle1 footer__center "><a href="https://maps.app.goo.gl/n1hDYvh1RhSZ65ww8"
            class="site-list__link link">Eibenstr. 30</a></li>
        <li class="footer__item suptitle1 footer__center"><a href="https://maps.app.goo.gl/n1hDYvh1RhSZ65ww8" class="site-list__link link ">97456 Dittelbrun</a></li>
        <li class="footer__item footer__center"><p class="pstyle site-list__link  link link__pfone">+4917636383236</p>
        </li>
        <li class="footer__item footer__center"><a href=""
            class="site-list__link  link footer__blue1">valentinmielke@yahoo.de</a>
        </li>
      </ul>
      
    </div>
  </div>
</section>
