<section class="features section" id="about">
  <div class="container">
    <h2 class="visually-hidden">Features</h2>
    <ul class="features__list list">
      <li class="features__item">
        

        <h3 class="features__title-text">zuverlässig</h3>
       
      </li>
      <li class="features__item">
       

        <h3 class="features__title-text">zeitorientiert
</h3>
        
      </li>
      <li class="features__item">
        
        <h3 class="features__title-text">zufrieden ODER.... es gibt kein ODER!</h3>
        
      </li>
    </ul>
  </div>
</section>
