<section class="features section" id="about">
  <div class="container">
    <h2 class="visually-hidden">Features</h2>
    <ul class="features__list list">
      <li class="features__item">
        <!-- <span class="features__img">  -->

          <!-- <svg class="features__icon" width="35" height="35">
            <use href="./images/icons0.svg#man"></use>
          </svg> -->
          <!-- <svg class="features__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-university"></use>
          </svg> -->
        <!-- </span> -->

        <h3 class="features__title-text">zuverlässig</h3>
        <!-- <p class="features__text-bottom">
          Du kannst mir vertrauen
        </p> -->
      </li>
      <li class="features__item">
        <!-- <span class="features__img"> -->
          <!-- <svg class="features__icon" width="35" height="35">
            <use href="./images/icons0.svg#woman"></use>
          </svg> -->
          <!-- <svg class="features__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-book-reader"></use>
          </svg> -->
        <!-- </span> -->

        <h3 class="features__title-text">zeitorientiert
</h3>
        <!-- <p class="features__text-bottom">
          Jederzeit, die für Sie passt
        </p> -->
      </li>
      <li class="features__item">
        <!-- <span class="features__img">  -->
          <!-- <svg class="features__icon" width="35" height="35">
            <use href="./images/icons0.svg#child"></use>
          </svg> -->
          <!-- <svg class="features__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-pencil"></use>
          </svg> -->
        <!-- </span> -->
        <h3 class="features__title-text">zufrieden ODER.... es gibt kein ODER!</h3>
        <!-- <p class="features__text-bottom">
          Sie werden nicht unzufrieden gehen
        </p> -->
      </li>
    </ul>
  </div>
</section>
