<footer class="footer section" id="footer">
  <div class="container">
    <ul class="footer__socpublic-list socpublic-list list">
      
      <li class="footer__socpublic-item">
        <a
          href="https://www.instagram.com/mielkeviktoria?igsh=MWpsZWI2cTdlODlnOA=="
          class="socpublic__link link"
          aria-label="Instagram"
          rel="noopener nofollow noreferrer"
          target="_blank"
        >
          <svg class="socpublic__icon" width="31" height="35">
            <use href="./images/icons12.svg#icon-instagram-2"></use>
          </svg>
        </a>
      </li>
    </ul>
    
    <p class="footer__copyright">Copyright &#169; 2023 - Viktoria Mielke</p>
    <div class="footer__impress">
      <ul class="impress list">
        <li class="impress__item"><a class="nav__link1 link" href="./datenschutz.html">Datenschutz</a></li>
        <li class="impress__item"><a class="nav__link1 link" href="./impressum.html">Impressum</a> </li>
      
      </ul>
    </div>


  </div>
 
  
</footer>
