<footer class="footer section" id="footer">
  <div class="container">
    <ul class="footer__socpublic-list socpublic-list list">
      <!-- <li class="footer__socpublic-item">
        <a
          href="https://www.facebook.com"
          class="socpublic__link link"
          aria-label="Facebook"
          rel="noopener nofollow noreferrer"
          target="_blank"
        >
          <svg class="socpublic__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li> -->
      <!-- <li class="footer__socpublic-item">
        <a
          href="https://www.twitter.com"
          class="socpublic__link link"
          aria-label="Twitter"
          rel="noopener nofollow noreferrer"
          target="_blank"
        >
          <svg class="socpublic__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li> -->

      <!-- <li class="footer__socpublic-item">
        <a
          href="https://www.youtube.com"
          class="socpublic__link link"
          aria-label="Youtube"
          rel="noopener nofollow noreferrer"
          target="_blank"
        >
          <svg class="socpublic__icon" width="40" height="35">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li> -->
      <li class="footer__socpublic-item">
        <a
          href="https://www.instagram.com/mielkeviktoria?igsh=MWpsZWI2cTdlODlnOA=="
          class="socpublic__link link"
          aria-label="Instagram"
          rel="noopener nofollow noreferrer"
          target="_blank"
        >
          <svg class="socpublic__icon" width="31" height="35">
            <use href="./images/icons12.svg#icon-instagram-2"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- <div class="blogs__thumb">
      <p class="blogs__top-text">Impressum</p>
      <h2 class="blogs__title">Ціни</h2>
      <p class="blogs__bottom-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="blogs_button  button js-open-modal" data-modal="1" type="button">Read Our Blog</button>
    </div> -->
    <p class="footer__copyright">Copyright &#169; 2023 - Viktoria Mielke</p>
    <div class="footer__impress">
      <ul class="impress list">
        <li class="impress__item"><a class="nav__link1 link" href="./datenschutz.html">Datenschutz</a></li>
        <li class="impress__item"><a class="nav__link1 link" href="./impressum.html">Impressum</a> </li>
      
      </ul>
    </div>


  </div>
 
  
</footer>
